#otp_email , #otp_action
{
    display: none;
}

.otp_submit
{
    margin: .5rem 0;
    padding: 1.5rem .9rem;
    background-color: var(--red-800-opaque-30);
    border: .1rem solid var(--red-900);
    color: var(--red-900);
    outline: none;
    font-size: 2rem;
    border-radius: .5rem;
    cursor: pointer;
    width: 100%;
}

.otp_submit:hover
{
    background-color: var(--red-800-opaque-20);
    transform: all 1s ease-in-out;
}

#otp_value
{
    margin: .5rem 0;
    padding: 1.5rem .9rem;
background-color: var(--github-black);
border: .1rem solid var(--white-opaque);
outline: none;
border-radius: .3rem;
color: var(--white);
font-size: 1.7rem;
font-weight: 300;
width: 100%;
}


.card
{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}

.card p
{
    font-size: 5rem;
}

@media only screen and (max-width: 480px) {

.otp_submit
{
    margin: .2rem 0;
    padding: 1rem .9rem;
    background-color: var(--red-800-opaque-30);
    border: .1rem solid var(--red-900);
    color: var(--red-900);
    outline: none;
    font-size: 1.5rem;
    border-radius: .5rem;
    cursor: pointer;
    width: 100%;
    height: 2rem;
}

.otp_submit:hover
{
    background-color: var(--red-800-opaque-20);
    transform: all 1s ease-in-out;
}

#otp_value
{
    margin: .2rem 0;
    padding: 1rem .9rem;
background-color: var(--github-black);
border: .1rem solid var(--white-opaque);
outline: none;
border-radius: .3rem;
color: var(--gray);
font-size: 1.2rem;
font-weight: 300;
width: 100%;
height: 2rem;
}




}

